@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@media screen and (min-width: 1500px) {
    body{
        height: 100vh;
        margin: 0px;
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        background-color: #EAEAEA;
    }
    #main{
        height: 90vh;
        margin: 0px;
        font-family: 'Roboto', sans-serif;
        display: flex;
        justify-content: space-between;
    }
    #upbar{
        display: flex;
        height: 10vh;
        background-color: #375CA6;
        border-bottom: 2px solid black;
    }
    #exit-box{
        border-left: 2px solid black;  
    }
    #nav-screen{
        height: 100%;
        width: 15vw;
        display: flex;
        justify-content: center;
        background-color: #5991FF;
        padding: 0px;
        margin: 0px;
        border-right: 2px solid black;
    }
    #nav-itens{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        list-style-type: none;
        padding: 0px;
    }
    .nav-item{
        height: 60px;
        width: 100%; 
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-item:hover{
        background-color: #4784ff;
        
    }
    .nav-links{
        text-decoration: none;
        font-size: 18px;
        color: white;
    }
    img{
        height: 10vh;
        width: 15vw;
        background-color: #375CA6;
        mix-blend-mode: multiply;
    }
}

@media screen and (max-width: 900px) {
    body{
        height: 100vh;
        margin: 0px;
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        background-color: #EAEAEA;
    }
    #main{
        height: 90vh;
        margin: 0px;
        font-family: 'Roboto', sans-serif;
        display: flex;
        justify-content: space-between;
    }
    #upbar{
        height: 6vh;
        background-color: #375CA6;
    }
    
    #nav-screen{
        height: 94vh;
        width: 70vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #5991FF;
        padding: 0px;
        margin: 0px;
        display: none;
    }
    #nav-itens{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        list-style-type: none;
        padding: 0px;
        margin: 0px;
    }
    .nav-item{
        height: 60px;
        width: 100%; 
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-item:hover{
        background-color: #4784ff;
        
    }
    .nav-links{
        text-decoration: none;
        font-size: 18px;
        color: white;
    }
    img{
        height: 10vh;
        width: 255px;
        background-color: #375CA6;
        mix-blend-mode: multiply;
        display: none;
    }
    #openNav{
        height: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: #EAEAEA;
        border: 0px;
        padding: 0px;
    }
    #closeNav{
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        background-color: #5991FF;
        border: 0px;
        padding: 0px;
    }
    .backImg{
        height: 30px;
        width: 30px;
        background-image: url("img/MenuIcon.png");
    }
    #logout-box{
        height: 60px;
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
    }
    #logout{
        height: 48px;
        width: 48px;
        background-image: url("img/Logout.png");
    }
}



